*{
    font-family: 'Inconsolata', monospace;
}
#border-box {
    border: 5px solid goldenrod;
    box-shadow: 10px 10px 10px gray;
}
#top{
    margin-top: 30vh;
}
#main-line {
    padding: 2px;
    background: goldenrod;
    width: 80%;
    margin: auto;
}
#text-animate{
    transition: color 2s ease-in;
}
#text-animate:hover{
    color: goldenrod;
}


/* --------------------------------------------------------- */
/* for mobile view  */
/* @media screen and (max-width:400px){
    /* main component */
    /* .main{
        border: 2px greenyellow solid;
        background: none;
        width: 80%;
        margin: auto;
        margin-top: 40vh;
        padding: 10px;
        text-align: center;
    }
    .main-signin{
        padding: 20px;
    }
    .main-login{
        padding: 20px;
    }
    .main-line{
        background: greenyellow;
        padding: 1px;
    }
    /* sigin component */
    /* .signin-container{
        width: 80%;
        margin: auto;
        margin-top: 30vh;
    }
    .signin-main{
        padding: 10px;
        border: 5px greenyellow solid;
    }
    .signin-header{
        font-size: 20px;
        padding: 10px;
        font-weight: 700;
    }
    .signin-form{
        padding: 10px;
    } */
    /* sigin err  */
    /* .sigin-err{
        margin-left: 10px;
        border: 2px greenyellow solid;
        background: rgb(211, 42, 42);
        color: white;
        text-align: center;
        font-size: 15px;
    }
    .signin-form-input{
        width: 90%;
        padding: 5px 12px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 700;
    }
    .signin-btn{
        background: greenyellow;
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 600;
        border: none;
        margin-top: 10px;
        transition: background 1s ease-in-out;
    }
    .signin-btn:hover{
        background: white;
        color: rgb(164, 252, 0);
        font-size: 15px;
    }
    .signin-to-login-text{
        margin-top: 5px;
        font-size: 12px;
        font-weight: 700;
    }
    .signin-to-login{
        margin-left: 4px;
        background: greenyellow;
        font-size: 15px;
    }
    .signin-to-login:hover{
        color: rgb(147, 236, 30);
        background: white;
    } */
    /* login component */
    /* .login-container{
        width: 80%;
        margin: auto;
        margin-top: 30vh;
    }
    .login-main{
        padding: 10px;
        border: 5px greenyellow solid;
    }
    .login-header{
        padding: 10px;
        font-size: 18px;
        font-weight: 600;
    }
    .login-err{
        border: 2px greenyellow solid;
        margin-left: 5px;
        margin-bottom: 10px;
        text-align: center;
        background: rgb(207, 36, 36);
        color: white;
        font-size: 14px;
    }
    .login-form{
        padding: 10px;
    }
    .login-form-input{
        width: 90%;
        padding: 7px;
        margin-bottom: 15px;
        font-size: 18px;
        font-size: 700;
    }
    .login-btn{
        background: greenyellow;
        border: none;
        padding: 5px 20px;
        font-size: 15px;
        font-weight: 700;
        transition: background 1s ease-in;
    }
    .login-btn:hover{
        background: white;
        color: rgb(179, 255, 37);
        border: 2px greenyellow solid;
    }
    .login-to-sigin{
        width: 80%;
        margin-top: 10px;
        font-size: 13px;
        margin-left: 5px;
        font-weight: 600;
    }
    .login-to-sigin-text{
        margin-left: 5px;
        background: yellow;
        font-size: 15px;
        font-weight: 600;
        padding: 2px;
        transition: background 1s ease-in;
    }
    .login-to-sigin-text:hover{
        color: teal;
        background: white;
    } */